<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/hearthstoneproject</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">Mo7120101038</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>


        <!-- Drop and re-create the database schema on startup -->
<!--                <property name="hbm2ddl.auto">create</property>-->

        <property name="hbm2ddl.auto">update</property>


        <mapping class="Server.Model.Cards.Card"/>
        <mapping class="Server.Model.Cards.Minion"/>
        <mapping class="Server.Model.Cards.Spell"/>
        <mapping class="Server.Model.Cards.Weapon"/>
        <mapping class="Server.Model.Cards.AghaHaghi"/>
        <mapping class="Server.Model.Cards.Ali"/>
        <mapping class="Server.Model.Cards.ArcaniteReaper"/>
        <mapping class="Server.Model.Cards.Ashbringer"/>
        <mapping class="Server.Model.Cards.Aylar"/>
        <mapping class="Server.Model.Cards.Benyamin"/>
        <mapping class="Server.Model.Cards.BlessingOfTheAncients"/>
        <mapping class="Server.Model.Cards.BloodFury"/>
        <mapping class="Server.Model.Cards.BookOFSpecters"/>
        <mapping class="Server.Model.Cards.Cat"/>
        <mapping class="Server.Model.Cards.Cookie"/>
        <mapping class="Server.Model.Cards.DarkSkies"/>
        <mapping class="Server.Model.Cards.Faeze"/>
        <mapping class="Server.Model.Cards.FieryWarAxe"/>
        <mapping class="Server.Model.Cards.Flamestrike"/>
        <mapping class="Server.Model.Cards.Gearblade"/>
        <mapping class="Server.Model.Cards.HighMasterSaman"/>
        <mapping class="Server.Model.Cards.HolyLight"/>
        <mapping class="Server.Model.Cards.Hossein"/>
        <mapping class="Server.Model.Cards.HosseinHima"/>
        <mapping class="Server.Model.Cards.Javad"/>
        <mapping class="Server.Model.Cards.Khashayar"/>
        <mapping class="Server.Model.Cards.Lachin"/>
        <mapping class="Server.Model.Cards.LearnJavadonic"/>
        <mapping class="Server.Model.Cards.LightforgedBlessing"/>
        <mapping class="Server.Model.Cards.Matin"/>
        <mapping class="Server.Model.Cards.Mobin"/>
        <mapping class="Server.Model.Cards.Nima"/>
        <mapping class="Server.Model.Cards.Polymorph"/>
        <mapping class="Server.Model.Cards.Quiz"/>
        <mapping class="Server.Model.Cards.SandBreath"/>
        <mapping class="Server.Model.Cards.Shahryar"/>
        <mapping class="Server.Model.Cards.SilverSword"/>
        <mapping class="Server.Model.Cards.Soroush"/>
        <mapping class="Server.Model.Cards.Sprint"/>
        <mapping class="Server.Model.Cards.StrengthInNumbers"/>
        <mapping class="Server.Model.Cards.StrengthInNumbersDR"/>
        <mapping class="Server.Model.Cards.SwarmOfCats"/>
        <mapping class="Server.Model.Cards.TrueSilverChampion"/>
        <mapping class="Server.Model.Cards.Yasaman"/>
        <mapping class="Server.Model.Enums.Attribute"/>
        <mapping class="Server.Model.Enums.Rarity"/>
        <mapping class="Server.Model.Enums.Type"/>
        <mapping class="Server.Model.Heros.Hero"/>
        <mapping class="Server.Model.Heros.Hunter"/>
        <mapping class="Server.Model.Heros.Mage"/>
        <mapping class="Server.Model.Heros.Priest"/>
        <mapping class="Server.Model.Heros.Rogue"/>
        <mapping class="Server.Model.Heros.Warlock"/>
        <mapping class="Server.Model.Player"/>
        <mapping class="Server.Model.Deck"/>
        <mapping class="Server.Model.Account"/>
        <mapping class="Server.Model.Log.Log"/>


    </session-factory>
</hibernate-configuration>